*.js

!backend-app/server/*
!backend-app/server/*/*

backend-app/server/config/dev.js

!edge-functions/*

!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.DS_Store
config.json
.vscode/settings.json
